*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}

body{
	/*background: #5F634F;*/ /*green*/
	font-family: 'Shadows Into Light', cursive;
	color: #E7E7C6; /* yellow*/
}
.new{
	background: #BDD6CB;
}
.container{
	margin-top: 100px;
	background: #5F634F;
}

.step1Btn {
	
	width: 80%;
	margin: 50px 20px;
	background: #E7E7C6;
	color: #5F634F;
	
}
.processBtns{
	width: 80%;
	/*border: 2px solid red;*/
	margin: auto;
}
 .processBtn{
	width: 350px;
	margin: 10px 40px;
	background: #E7E7C6;
	color: #5F634F;
	border: 2px solid black;
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	/*font-family: 'Shadows Into Light';*/
	 color: #5F634F;
	 margin-top:50px;

}
.resizeImg{
	width:50px;
	height:50px;
}


#fridge {
	height:350px;
}


