*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}

body{
	/*background: #5F634F;*/ /*green*/
	font-family: 'Shadows Into Light', cursive;
	color: #E7E7C6; /* yellow*/
}
.new{
	background: #BDD6CB;
}
.container{
	margin-top: 50px;
	background: #5F634F;
}
.step1, .step2{
	margin-top: 25px;
	
}
.step2{
	
	background:#E7E7C6 ;
	color:#E7E7C6;
}
.step1Btn {
	
	width: 80%;
	margin: 50px 20px;
	background: #E7E7C6;
	color: #5F634F;
	
}
.step2Btn{
	width: 80%;
	margin: 50px 20px;
	background:#5F634F ;
	color: #E7E7C6;
}
.processBtns{
	width: 80%;
	/*border: 2px solid red;*/
	margin: auto;
}
 .processBtn1{
	width: 350px;
	margin: 10px 40px;
	background: #E7E7C6;
	color: #5F634F;
	border: 2px solid black;
}
 .processBtn2{
	width: 350px;
	margin: 10px 40px;
	background:#5F634F;
	color: #E7E7C6;
	border: 2px solid black;
}
h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	/*font-family: 'Shadows Into Light';*/
	 color: #5F634F;
	 margin-top:50px;

}
.cards2{
	color: #5F634F;
}
.resizeImg{
	width:50px;
	height:50px;
}


#fridge, #table {
	height:350px;
}
.notice{
	display: none;
}
.serve{
	margin:auto;
	display:block;
}
@media only screen and (max-width:999px) {
	.notice{
		display : block;
		text-align: center;
		color:red;
		background: black;
	}
	.container{
		display : none;
	}
}
